<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <custom-button
    label="My first button"
    color="secondary"
    (clicked)="onCustomButtonClicked($event)"
  ></custom-button>
  <custom-button
    [label]="label"
    [color]="color"
    (clicked)="onCustomButtonClicked($event)"
  ></custom-button>
  <custom-button
    label="My last button"
    color="secondary"
    (clicked)="onCustomButtonClicked($event)"
  ></custom-button>
</ion-content>
